<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js?ver=3.3.7"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="ic-layout">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">iCheck</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="dang_bai.html">Đăng bài</a></li>
                    <li><a href="dang_nhap.html">Đăng nhập</a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="ic-form-search">
                        <input type="text" class="ic-form-input" placeholder="Vui lòng nhập tên sản phẩm bạn muốn tra cứu" />
                        <input type="submit" name="submit" class="ic-form-button" value="" />
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="ic-main" id="ic-main">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="ic-menu">
                        <ul>
                            <li class="lv-1">
                                <a href="home.html" class="lv-a1 ">Trang chủ</a>
                                <ul>
                                    <li>
                                        <a href="#">Tải App</a>
                                    </li>
                                    <li>
                                        <a href="#">Tin tức</a>
                                    </li>
                                    <li>
                                        <a href="#">Top HOT</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="lv-1 current">
                                <a href="follow.html" class="lv-a1">Follow</a>
                            </li>

                            <li class="lv-1">
                                <a href="danh_muc.html" class="lv-a1">Danh mục</a>
                            </li>

                            <li class="lv-1">
                                <a href="ca_nhan.html" class="lv-a1">Cá nhân</a>
                            </li>

                            <li class="lv-1">
                                <a href="lien_he_gop_y.html" class="lv-a1">Liên hệ &amp; Góp ý</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-10">

                    <div class="ic-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="home.html">Trang chủ</a></li>
                            <li class="active">Follow</li>
                        </ol>
                    </div>

                    <div class="ic-follow-page">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ic-follow-widget">
                                    <div class="ic-header-title">
                                        <h3>Sản phẩm HOT</h3>
                                    </div>


                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="ic-product">
                                                <div class="ic-thumb">
                                                    <a href="san_pham_chi_tiet.html">
                                                        <img src="images/q/p-1.jpg" alt="" title="" class="img-responsive" />
                                                    </a>
                                                </div>

                                                <span class="ic-success"></span>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="ic-product">
                                                <div class="ic-thumb">
                                                    <a href="san_pham_chi_tiet.html">
                                                        <img src="images/q/p-7.jpg" alt="" title="" class="img-responsive" />
                                                    </a>
                                                </div>

                                                <span class="ic-warning"></span>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="ic-product">
                                                <div class="ic-thumb">
                                                    <a href="san_pham_chi_tiet.html">
                                                        <img src="images/q/p-8.jpg" alt="" title="" class="img-responsive" />
                                                    </a>
                                                </div>

                                                <span class="ic-success"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="ic-follow-widget">
                                    <div class="ic-header-title">
                                        <h3>Tin tức mới</h3>
                                    </div>

                                    <div class="ic-follow-news">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="images/q/n-2.jpg" alt="" title="" />
                                                </a>
                                            </div>

                                            <div class="media-body">
                                                <a href="#" class="ic-title2">Thông tin nổi bật trong ngày hôm nay</a>
                                                <p>Bạn muốn có một cuộc sống sôi động trên mạng xã hội, nơi thường xuyên chia sẻ những hình ảnh đi chơi với bạn bè, nhưng thực tế bạn lại không có quá nhiều bạn để thường xuyên đi chơi và chụp ảnh cùng?</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="ic-follow-widget">
                                    <div class="ic-comment ic-comment-no">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="img-circle" src="images/q/av-3.png" alt="" title="" />
                                                </a>
                                            </div>

                                            <div class="media-body">
                                                <strong>Hà Anh Nguyễn</strong>

                                                <div class="ic-comment-cc">
                                                    Phiên điều trần đầu tiên về nghi vấn Nga can thiệp bầu cử Mỹ
                                                </div>

                                                <div class="ic-comment-info">
                                                    <time>2 phút trước</time> | <a href="#">Thích </a> | <a href="#">Trả lời </a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="ic-comment ic-comment-no">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="img-circle" src="images/q/av-1.png" alt="" title="" />
                                                </a>
                                            </div>

                                            <div class="media-body">
                                                <strong>Hà Anh Nguyễn</strong>

                                                <div class="ic-comment-cc">
                                                    Gặp gỡ chàng trai 26 tuổi sở hữu ứng dụng trị giá 25 tỷ USD
                                                </div>

                                                <div class="ic-comment-info">
                                                    <time>2 phút trước</time> | <a href="#">Thích </a> | <a href="#">Trả lời </a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="ic-follow-widget">
                                    <div class="ic-header-title">
                                        <h1>Bộ sưu tập</h1>

                                    </div>

                                    <div class="row">
                                        <div class="col-xs-4 ic-follow">
                                            <a href="#">
                                                <img src="images/q/av-1.png" alt="" title="" class="img-circle" />
                                            </a>

                                            <a href="#" class="ic-title">
                                                Hà Thiên
                                            </a>
                                        </div>

                                        <div class="col-xs-4 ic-follow">
                                            <a href="#">
                                                <img src="images/q/av-3.png" alt="" title="" class="img-circle" />
                                            </a>

                                            <a href="#" class="ic-title">
                                                Trần Quỳnh Anh
                                            </a>
                                        </div>

                                        <div class="col-xs-4 ic-follow">
                                            <a href="#">
                                                <img src="images/q/av-2.png" alt="" title="" class="img-circle" />
                                            </a>

                                            <a href="#" class="ic-title">
                                                Cô bé dối hờn
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="ic-follow-widget">

                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="images/q/pd-1.jpg" alt="" title="" height="170" />
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <a class="ic-title2" href="#">Sản phẩm siêu HOT</a>
                                            <p>Truyền thông Mỹ đã có một đúc kết đầy chuẩn xác sau nhiều năm các mạng xã hội thăng hoa, đó là giới trẻ không còn dùng đến email nữa, Facebook chỉ dành cho các bậc phụ huynh và Snapchat thì dành riêng cho những cô cậu ở độ tuổi từ 25 trở xuống.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="ic-follow-widget">
                                    <div class="ic-header-title">
                                        <h3>Sản phẩm HOT</h3>
                                    </div>


                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="ic-product">
                                                <div class="ic-thumb">
                                                    <a href="san_pham_chi_tiet.html">
                                                        <img src="images/q/p-1.jpg" alt="" title="" class="img-responsive" />
                                                    </a>
                                                </div>

                                                <span class="ic-success"></span>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="ic-product">
                                                <div class="ic-thumb">
                                                    <a href="san_pham_chi_tiet.html">
                                                        <img src="images/q/p-7.jpg" alt="" title="" class="img-responsive" />
                                                    </a>
                                                </div>

                                                <span class="ic-warning"></span>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="ic-product">
                                                <div class="ic-thumb">
                                                    <a href="san_pham_chi_tiet.html">
                                                        <img src="images/q/p-8.jpg" alt="" title="" class="img-responsive" />
                                                    </a>
                                                </div>

                                                <span class="ic-success"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- ic-footer -->
    <footer id="ic-footer" class="ic-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4>Danh mục</h4>

                    <ul>
                        <li><a href="#" title="">Ô tô, xe máy &amp; Phụ kiện</a></li>
                        <li><a href="#" title="">Lò vi sóng</a></li>
                        <li><a href="#" title="">Điện thoại &amp; Máy tính bảng</a></li>
                        <li><a href="#" title="">Máy vi tính &amp; Laptop</a></li>
                        <li><a href="#" title="">Chăm sóc sức khỏe &amp; Làm đẹp</a></li>
                    </ul>

                </div>

                <div class="col-sm-6 col-md-3">
                    <h4>Giới thiệu</h4>

                    <ul>
                        <li><a href="#" title="">Giới thiệu</a></li>
                        <li><a href="#" title="">Tuyển Dụng</a></li>
                        <li><a href="#" title="">Chính sách bảo mật</a></li>
                        <li><a href="#" title="">Điều khoản sử dụng</a></li>
                        <li><a href="#" title="">Ưu đãi doanh nghiệp</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-3">
                    <h4>Đối tác của iCheck</h4>

                    <ul>
                        <li><a href="#" title="">Đối tác 1</a></li>
                        <li><a href="#" title="">Đối tác 2</a></li>
                        <li><a href="#" title="">Đối tác 3</a></li>
                        <li><a href="#" title="">Đối tác 4</a></li>
                        <li><a href="#" title="">Đối tác 5</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-3">
                    <h4>Download App</h4>

                    <div class="ic-footer-download">
                        <a href="#" target="_blank" rel="nofollow" title="Download on the Appstore">Download on the Appstore</a>
                        <a class="ic-google-play" href="#" target="_blank" rel="nofollow" title="Download on the Google Play">Download on the Google Play</a>
                        <a class="ic-windows-phone" href="#" target="_blank" rel="nofollow" title="Download on the Windows Phone Store">Download on the Windows Phone Store</a>
                        <a class="ic-blackBerry-world" href="#" target="_blank" rel="nofollow" title="Download on the BlackBerry World">Download on the BlackBerry World</a>
                    </div>

                    <h4>Liên hệ</h4>

                    <div class="ic-footer-contact">
                        <address>Số 50, ngõ 125, Nguyễn Ngọc Vũ, Phường Trung Hoà, Q. Cầu Giấy, TP. Hà Nội</address>

                        <div class="ic-social">
                            <a class="ic-fb" href="#" target="_blank" rel="nofollow">Facebook</a>
                            <a class="ic-mail" href="#" target="_blank" rel="nofollow">Gửi Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END: ic-footer -->

    <div id="ic-copyright" class="ic-copyright">
        <div class="container">
            <p>Bản quyền thuôc về iCheck.vn 2017</p>
        </div>
    </div>
</div>
</body>
</html>