<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chi tiết sản phẩm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="style.css?ver=2.5" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js?ver=3.3.7"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="ic-layout">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">iCheck</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="dang_bai.html">Đăng bài</a></li>
                    <li><a href="dang_nhap.html">Đăng nhập</a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="ic-form-search">
                        <input type="text" class="ic-form-input" placeholder="Vui lòng nhập tên sản phẩm bạn muốn tra cứu" />
                        <input type="submit" name="submit" class="ic-form-button" value="" />
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="ic-main" id="ic-main">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="ic-menu">
                        <ul>
                            <li class="lv-1">
                                <a href="home.html" class="lv-a1 ">Trang chủ</a>
                                <ul>
                                    <li>
                                        <a href="#">Tải App</a>
                                    </li>
                                    <li>
                                        <a href="#">Tin tức</a>
                                    </li>
                                    <li>
                                        <a href="#">Top HOT</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="lv-1 current">
                                <a href="follow.html" class="lv-a1">Follow</a>
                            </li>

                            <li class="lv-1">
                                <a href="danh_muc.html" class="lv-a1">Danh mục</a>
                            </li>

                            <li class="lv-1">
                                <a href="ca_nhan.html" class="lv-a1">Cá nhân</a>
                            </li>

                            <li class="lv-1">
                                <a href="lien_he_gop_y.html" class="lv-a1">Liên hệ &amp; Góp ý</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-10">

                    <div class="ic-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="home.html">Trang chủ</a></li>
                            <li class="active">Ô tô, xe máy & Phụ kiện</li>
                        </ol>
                    </div>

                    <div class="ic-product-detail">
                        <div class="row">
                            <div class="col-md-5">
                                <a href="#">
                                    <img src="images/q/pd-1.jpg" alt="" title="" class="img-responsive" />
                                </a>

                                <div class="ic-product-gallerys">
                                    <a href="#"><img src="images/q/pv-1.jpg" alt="" title="" /></a>
                                    <a href="#"><img src="images/q/pv-2.jpg" alt="" title="" /></a>
                                    <a href="#"><img src="images/q/pv-3.jpg" alt="" title="" /></a>
                                    <a href="#"><img src="images/q/pv-4.jpg" alt="" title="" /></a>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <h1>Tivi LED Sony 40 inch KDL-40R350D</h1>
                                <p>
                                    Nhà sản xuất: <a href="#">Sony</a>
                                </p>
                                <p>
                                    Giá: <span class="ic-price">16.000.000đ</span>
                                </p>


                                <div class="ic-product-chart">
                                    <div class="row">
                                        <div class="col-md-3">

                                        </div>

                                        <div class="col-md-9">
                                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                            <script type="text/javascript">
                                                google.charts.load("current", {packages:["corechart"]});
                                                google.charts.setOnLoadCallback(drawChart);
                                                function drawChart() {
                                                    var data = google.visualization.arrayToDataTable([
                                                        ['Lời khuyên', 'Tỷ lệ'],
                                                        ['Nên dùng',     37],
                                                        ['Không dùng', 63]
                                                    ]);

                                                    var options = {
                                                        title: 'Đánh giá của người dùng',
                                                        pieHole: 0.4,
                                                    };

                                                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                                                    chart.draw(data, options);
                                                }
                                            </script>

                                            <div id="donutchart" style="width: 100%; height: 200px;"></div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ic-product-act">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="ic-header-title">
                                    <h3>Dấu hiệu nhận biết thật giả</h3>
                                </div>

                                <div class="ic-product-check-fake">
                                    <p>Để có dàn karaoke gia đình hay, không chỉ thương hiệu mà những yếu tố phù hợp về công suất với diện tích phòng và các đồ dùng trong phòng cũng rất quan trọng.</p>

                                    <p>Đây được xem là đợt truy quét thứ hai của Facebook trong năm 2017 nhằm hạn chế và khai trừ những Fanpage vi phạm chính sách của họ, cũng như không đạt quy chuẩn...</p>
                                </div>

                            </div>

                            <div class="col-md-7">
                                <div class="ic-header-title">
                                    <h3>Đánh giá nổi bật</h3>
                                </div>

                                <div class="ic-comments">
                                    <div class="ic-comment first-child">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="img-circle" src="images/q/av-1.png" alt="" title="" />
                                                </a>
                                            </div>

                                            <div class="media-body">
                                                <strong>Trường</strong>

                                                <div class="ic-comment-cc">
                                                    Sản phẩm thật là tuyện vời :)
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="ic-comment">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="img-circle" src="images/q/av-3.png" alt="" title="" />
                                                </a>
                                            </div>

                                            <div class="media-body">
                                                <strong>Hà Anh Nguyễn</strong>

                                                <div class="ic-comment-cc">
                                                    Phiên điều trần đầu tiên về nghi vấn Nga can thiệp bầu cử Mỹ
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="ic-comment">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="img-circle" src="images/q/av-2.png" alt="" title="" />
                                                </a>
                                            </div>

                                            <div class="media-body">
                                                <strong>Quỳnh Nguyễn</strong>

                                                <div class="ic-comment-cc">
                                                    Việc Ngoại trưởng Tillerson dùng từ ngữ của Trung Quốc để mô tả quan hệ hai nước bị coi là sự nhún nhường của Washington trước Bắc Kinh.
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="ic-comments">
                        <div class="ic-header-title">
                            <h3>Bình luận</h3>
                        </div>

                        <div class="ic-comment first-child">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="img-circle" src="images/q/av-1.png" alt="" title="" />
                                    </a>
                                </div>

                                <div class="media-body">
                                    <strong>Trường</strong>

                                    <div class="ic-comment-cc">
                                        Sản phẩm thật là tuyện vời :)
                                    </div>

                                    <div class="ic-comment-info">
                                        <time>2 phút trước</time> | <a href="#">Thích </a> | <a href="#">Trả lời </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="ic-comment">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="img-circle" src="images/q/av-3.png" alt="" title="" />
                                    </a>
                                </div>

                                <div class="media-body">
                                    <strong>Hà Anh Nguyễn</strong>

                                    <div class="ic-comment-cc">
                                        Phiên điều trần đầu tiên về nghi vấn Nga can thiệp bầu cử Mỹ
                                    </div>

                                    <div class="ic-comment-info">
                                        <time>2 phút trước</time> | <a href="#">Thích </a> | <a href="#">Trả lời </a>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="ic-comment">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="img-circle" src="images/no-avt.png" alt="" title="" />
                                    </a>
                                </div>

                                <div class="media-body">
                                    <strong>Vo Danh</strong>

                                    <div class="ic-comment-cc">
                                        Còn hàng không ad ơi
                                    </div>

                                    <div class="ic-comment-info">
                                        <time>2 phút trước</time> | <a href="#">Thích </a> | <a href="#">Trả lời </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="ic-comment">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="img-circle" src="images/q/av-2.png" alt="" title="" />
                                    </a>
                                </div>

                                <div class="media-body">
                                    <strong>Quỳnh Nguyễn</strong>

                                    <div class="ic-comment-cc">
                                        Việc Ngoại trưởng Tillerson dùng từ ngữ của Trung Quốc để mô tả quan hệ hai nước bị coi là sự nhún nhường của Washington trước Bắc Kinh.
                                    </div>

                                    <div class="ic-comment-info">
                                        <time>2 phút trước</time> | <a href="#">Thích </a> | <a href="#">Trả lời </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="ic-header-title">
                        <h3>Thông tin doanh nghiệp</h3>
                    </div>

                    <div class="ic-enterprise">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="images/q/BMW.png" alt="" title="" class="img-responsive" />
                            </div>

                            <div class="col-md-6">
                                <form name="contact_enterprise" action="san_pham_chi_tiet.html" method="post">
                                    <div class="ic-label-input">
                                        <input required class="form-control" type="text" value="" name="" placeholder="Tên của bạn" />
                                    </div>

                                    <div class="ic-label-input">
                                        <input class="form-control" type="text" value="" name="" placeholder="Số điện thoại của bạn" />
                                    </div>

                                    <div class="ic-label-input">
                                        <textarea required class="form-control" cols="5" rows="5" name="" placeholder="Nội dung của bạn"></textarea>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-3">
                                <input type="submit" name="submit" value="Liên hệ ngay" class="btn ic-btn-submit" />
                            </div>
                        </div>
                    </div>


                    <div class="ic-header-title">
                        <h3>Điểm bán</h3>
                    </div>

                    <div class="ic-products">

                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="ic-product">
                                    <div class="ic-thumb">
                                        <a href="san_pham_chi_tiet.html">
                                            <img src="images/q/p-1.jpg" alt="" title="" />
                                        </a>
                                    </div>

                                    <h2>
                                        <a href="san_pham_chi_tiet.html">Combo Chăm Sóc Tóc Tresemme Keratin Smooth...</a>
                                    </h2>

                                    <div class="ic-price">
                                        100.000đ
                                    </div>

                                    <span class="ic-success"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="ic-product">
                                    <div class="ic-thumb">
                                        <a href="san_pham_chi_tiet.html">
                                            <img src="images/q/p-7.jpg" alt="" title="" />
                                        </a>
                                    </div>

                                    <h2>
                                        <a href="san_pham_chi_tiet.html">Nước Giặt Dịu Nhẹ Omo Chai 2,4Kg</a>
                                    </h2>

                                    <div class="ic-price">
                                        Đang cập nhật
                                    </div>

                                    <span class="ic-warning"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="ic-product">
                                    <div class="ic-thumb">
                                        <a href="san_pham_chi_tiet.html">
                                            <img src="images/q/p-8.jpg" alt="" title="" />
                                        </a>
                                    </div>

                                    <h2>
                                        <a href="san_pham_chi_tiet.html">Kem Đánh Răng P/S Trà Xanh 200g</a>
                                    </h2>

                                    <div class="ic-price">
                                        10.000đ
                                    </div>

                                    <span class="ic-success"></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="ic-product">
                                    <div class="ic-thumb">
                                        <a href="san_pham_chi_tiet.html">
                                            <img src="images/q/p-6.jpg" alt="" title="" />
                                        </a>
                                    </div>

                                    <h2>
                                        <a href="san_pham_chi_tiet.html">Mô Hình LEGO Ninjago - Đảo Nhện Độc 70604</a>
                                    </h2>

                                    <div class="ic-price">
                                        550.000đ
                                    </div>

                                    <span class="ic-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- ic-footer -->
    <footer id="ic-footer" class="ic-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4>Danh mục</h4>

                    <ul>
                        <li><a href="#" title="">Ô tô, xe máy &amp; Phụ kiện</a></li>
                        <li><a href="#" title="">Lò vi sóng</a></li>
                        <li><a href="#" title="">Điện thoại &amp; Máy tính bảng</a></li>
                        <li><a href="#" title="">Máy vi tính &amp; Laptop</a></li>
                        <li><a href="#" title="">Chăm sóc sức khỏe &amp; Làm đẹp</a></li>
                    </ul>

                </div>

                <div class="col-sm-6 col-md-3">
                    <h4>Giới thiệu</h4>

                    <ul>
                        <li><a href="#" title="">Giới thiệu</a></li>
                        <li><a href="#" title="">Tuyển Dụng</a></li>
                        <li><a href="#" title="">Chính sách bảo mật</a></li>
                        <li><a href="#" title="">Điều khoản sử dụng</a></li>
                        <li><a href="#" title="">Ưu đãi doanh nghiệp</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-3">
                    <h4>Đối tác của iCheck</h4>

                    <ul>
                        <li><a href="#" title="">Đối tác 1</a></li>
                        <li><a href="#" title="">Đối tác 2</a></li>
                        <li><a href="#" title="">Đối tác 3</a></li>
                        <li><a href="#" title="">Đối tác 4</a></li>
                        <li><a href="#" title="">Đối tác 5</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-3">
                    <h4>Download App</h4>

                    <div class="ic-footer-download">
                        <a href="#" target="_blank" rel="nofollow" title="Download on the Appstore">Download on the Appstore</a>
                        <a class="ic-google-play" href="#" target="_blank" rel="nofollow" title="Download on the Google Play">Download on the Google Play</a>
                        <a class="ic-windows-phone" href="#" target="_blank" rel="nofollow" title="Download on the Windows Phone Store">Download on the Windows Phone Store</a>
                        <a class="ic-blackBerry-world" href="#" target="_blank" rel="nofollow" title="Download on the BlackBerry World">Download on the BlackBerry World</a>
                    </div>

                    <h4>Liên hệ</h4>

                    <div class="ic-footer-contact">
                        <address>Số 50, ngõ 125, Nguyễn Ngọc Vũ, Phường Trung Hoà, Q. Cầu Giấy, TP. Hà Nội</address>

                        <div class="ic-social">
                            <a class="ic-fb" href="#" target="_blank" rel="nofollow">Facebook</a>
                            <a class="ic-mail" href="#" target="_blank" rel="nofollow">Gửi Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END: ic-footer -->

    <div id="ic-copyright" class="ic-copyright">
        <div class="container">
            <p>Bản quyền thuôc về iCheck.vn 2017</p>
        </div>
    </div>
</div>
</body>
</html>