<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<ul>
	<li>
		<strong><a href="index.php">Trang chủ</a></strong>
	</li>
	
	<li>
		<strong><a href="index_da_dang_nhap.php">Trang chủ đã đăng nhập</a></strong>
	</li>
	
	<li>
		<strong>Feed</strong>
		<ul>
			<li><a href="feed.php">Trang chi tiết</a></li>
		</ul>
	</li>
	
	<li>
		<strong>Tin tức</strong>
		<ul>
			<li><a href="tin_tuc.php">Danh mục</a></li>
			<li><a href="tin_tuc_chi_tiet.php">Trang chi tiết</a></li>
		</ul>
	</li>
	
	<li>
		<strong>Trang cá nhân</strong>
		<ul>
			<li><a href="ca_nhan.php">Trang chi tiết</a></li>
			<li><a href="cong_dong.php">Cộng đồng</a></li>
			<li><a href="nguoi_dung.php">người dùng</a></li>
		</ul>
	</li>
	
	<li>
		<strong>Sản phẩm</strong>
		<ul>
			<li><a href="top_san_pham.php">Top sản phẩm</a></li>
			<li><a href="danh_muc.php">Danh mục cha</a></li>
			<li><a href="danh_muc_2.php">Danh mục con</a></li>
			<li><a href="san_pham_chi_tiet.php">Trang chi tiết</a></li>
		</ul>
	</li>
</ul>
</body>
</html>
